@using Cartas.Web.Domain
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart-As</title>
    @Styles.Render("~/Content/css")
</head>
<body class="bg-secondary">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="~/Content/img/logo.PNG" width="90" height="57" alt="">
    </a>

    <ul class="navbar-nav mr-auto"></ul>
    
    @{
        var player = PlayerService.GetPlayer(Request.Cookies);
        if (player != null)
        {
            <a href="/Player/Register">
                <div class="form-inline my-2 my-lg-0">
                    <img src="/Content/img/avatars/@player.Avatar" style="max-height: 40px"/>
                    <h2 class="text-light" style="margin-bottom: 0; margin-left: 10px">@player.PlayerName</h2>
                </div>
            </a>
        }
    }
    
</nav>
<div class="container body-content">
    @RenderBody()


</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>